.Face {
  position: relative;
  margin: auto;
  margin-top: 30px;
  height: 300px;
  width: 500px;
  border: 2px solid black;
}

.Eye {
  position: absolute;
  border: 2px solid black;
}

.Pupil {
  position: absolute;
  background-color: black;
  border-radius: 5px;
}
